<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<title>THWOMP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<!-- Angular, bootstrap, and jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<script type="text/javascript" src="js/hw.js"></script>
</head>
<body ng-controller="mainController" class="bg-dark">

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" ng-click="view=0" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" ng-click="view=1" href="#">Link</a>
			</li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
	  </nav>

	  <main role="main" ng-show="view==0">
		<div class="jumbotron theme over">
		  <div class="container">
			<h1 id="title" class="display-3 text-dark">jukebox</h1>
			<p class="text-dark description">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			<p><a class="btn btn-link btn-lg description" href="#" role="button">Learn more &raquo;</a></p>
		  </div>
		</div>

		<div class="container">
			  <div class="row text-light">
				  <div class="img-col">
					<img src="/css/temp-playlist.jpg" class="playlist-img">
				  </div>
				  <div class="col">
					  <br />
					  <h4 class="playlist-accent">PLAYLIST</h4>
					  <h2 class="playlist-title">Playlist Name</h2>
					  <p class="playlist-description">this is an example description of the playlist(maybe generated by describing the api circumstances that led to its generation)</p>
					  <p class="playlist-description">Created by UserName &middot; {{songs.length}} songs, 1 hr 20 min
				  </div>
			  </div>
			  <div class="container">
				<div class="row text-light playlist head">
					<div class="col-">
						<h3>#</h3>
					</div>
					<div class="col-sm">
						<h3> TITLE</h3>
					</div>
					<div class="col-sm">
						<h3>ARTIST</h3>
					</div>
					<div class="col-sm">
						<h3>TIME</h3>
					</div>
			    </div>
				<div ng-repeat="song in songs" class="row text-light playlist">
					<div class="col-">
						<h3>{{$index+1}}</h3>
					</div>
					<div class="col-sm">
						<h3> {{song[0]}} </h3>
					</div>
					<div class="col-sm">
						<h3>{{song[1]}}</h3>
					</div>
					<div class="col-sm">
						<h3>{{song[2]}}</h3>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </main>

		<main ng-show="view==1">
			<h1>Second page<h1>
		</main>


</body>

<script>

    var app = angular.module("myApp", []);

    app.controller("mainController", ['$scope','$http',function($scope, $http) {

        $scope.view = 0;
		$scope.songs = [['Song1','artist1','3:58'], ['Song2','artist2','6:56'], ['Song3','artist3','3:48'], ['Song4','artist4','3:58']];

    }]);
</script>
</html>
