html {
  font-family: 'Merriweather', serif;
}

body {
  color: #777777;
}
nav{
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

#userPresetNameModal{
  z-index: 1050;
}

#playlist-editor{
  z-index: 1050;
}

.navbar-brand {
  margin-left: 6px;
  margin-right: 9px;
}
.active{
  color: #1DB954!important;
  font-weight: bold;
}

.bg-dark{
  background-color: #212121 !important;
}
.text-dark{
  color: #212121 !important;
}
h1 {
  text-align: center;
}
.playlist-img{
  width: 215px;
  height: 215px;
}
.theme {
  font-family: 'Poppins', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1666.7' viewBox='0 0 1200 505'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(120deg, #d4fc79 0%, #96e6a1);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  border-radius: 0;
  height: auto;
}
.description {
  animation: fadeIn 2.5s 1;
}
.display-3{
  font-size: 4em;
  animation: fadeInLeft 1s 1;
  margin-top: 8vh;
}
.col-{
  min-width: 30px;
}
.img-col{
  padding-left: 13px;
}
.playlist {
  border-bottom: 1px #333333 solid;
  margin-bottom: 14px;
  margin-top: 14px;
  vertical-align: middle;

}
.playlist h3{
  font-family: 'Montserrat', ;
  font-weight: 300;
  margin-top:28px;
  font-size: 1em;
}
#play{
  margin-left: 10%;
}
.head h3{
  font-family: 'Montserrat', ;
  color: gray;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1em;
}
.playlist-description {
  color: gray;
}
.playlist-accent{
  letter-spacing: 2px;
  font-size: .8em;
  cursor: pointer;
  margin-bottom: 0px;
  width: auto;
}
.dropdown{
  width: fit-content;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.arrow-up {
  display: none;
  margin-left: 130px;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-bottom: 7px solid #333333;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {color: #1DB954;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .arrow-up {display: block;}

.dropdown:hover .playlist-accent {color: #1DB954;}
.playlist-title{
  margin-top: 13px;
  font-family: 'Montserrat', ;
  font-size: 3em;
  font-weight: 800;
}

/* function editor overlay */

.close-container {
  text-align: center;
  margin: 5px 0 0 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modal-content {
  background-color: #333333;
  margin: 5% auto 15% auto;
  border: 1px solid #111111;
  width: 80%;
  height: auto;
}
.close-modal {
  position: absolute;
  right: 25px;
  top: 0;
  color: #96e6a1;
  font-size: 35px;
  opacity: 1;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: red;
  cursor: pointer;
}
.modal-btn{
  margin: 25px auto;
  text-align: center;
  width: 150px;
}
.edit{
  vertical-align: baseline;
}
.call{
  margin: 20px auto;
}
.animate {
  animation: animatezoom 0.6s
}
h4{
  font-family: 'Montserrat', ;
  font-weight: 300;
  color: white;
  margin-bottom: 15px;
  padding-left: 0px;
}
.modal-row {
  margin-bottom: 30px;
}
.btn-outline-success{
  color: #1DB954;
  border-color: #1DB954;
}
.tooltip_ {
  font-family: 'Montserrat', ;
  font-weight: 300;
  font-size: .6em;
  position: relative;
  display: inline-block;
}
.tooltip_ .tooltiptext {
  font-weight: 300;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 12px;

  /* Position the tooltip */
  position: absolute;
  width: 300px;
  bottom: 100%;
  margin-bottom: 5px;
  left: 50%;
  margin-left: -150px;
  z-index: 1;
}
.tooltip_:hover .tooltiptext {
  visibility: visible;
}
.tooltip_ .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.nav-weather{
  margin: 0 auto;
}
.weather-element{
  display: inline-block;
}
h3.weather-element{
  vertical-align: sub;
}
.modal-weather{
  margin-top: 25px;
}
.modal-element{
  font-size: 2.4em;
  color: white;
  font-weight: 100;
  vertical-align: -webkit-baseline-middle!important;
}
.modal-search{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  color: white;
  text-align: center;
  border-bottom: 1px #777777 solid;
  font-weight: 100;
  width: 40%;
}
.modal-search:focus{
  outline: 0px;
  border-bottom: 1px #88ff88 solid;
}
@media only screen and (max-width: 800px) {
  .col-sm {
    width: 40vw;
    flex: none;
  }
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}
